# Z
[motor_constants Shengyang-42BYGH1603-A-20DNT]
resistance: 6
inductance: 0.0087
holding_torque: 0.28
max_current: 0.8
steps_per_revolution: 200

# xy

[autotune_tmc stepper_x]
motor: omc-17hs19-2504s-h
sgt: 1
voltage: 48
tuning_goal: performance

[autotune_tmc stepper_y]
motor: omc-17hs19-2504s-h
sgt: 1
voltage:48
tuning_goal: performance

[autotune_tmc stepper_x1]
motor: omc-17hs19-2504s-h
sgt: 1
voltage: 48
tuning_goal: performance

[autotune_tmc stepper_y1]
motor: omc-17hs19-2504s-h
sgt: 1
voltage:48
tuning_goal: performance

# e

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: performance

# z
[autotune_tmc stepper_z]
motor: Shengyang-42BYGH1603-A-20DNT
tuning_goal: performance

[autotune_tmc stepper_z1]
motor: Shengyang-42BYGH1603-A-20DNT
tuning_goal: performance

[autotune_tmc stepper_z2]
motor: Shengyang-42BYGH1603-A-20DNT
tuning_goal: performance

[autotune_tmc stepper_z3]
motor: Shengyang-42BYGH1603-A-20DNT
tuning_goal: performance
